@import url('https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10..0,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Green: hsl(75, 94%, 57%);
  --White: hsl(0, 0%, 100%);
  --Grey: hsl(0, 0%, 20%);
  --Dark-Grey: hsl(0, 0%, 12%);
  --Off-Black: hsl(0, 0%, 8%);
}

body{
    font-family: 'Inter';
    font-size: 14px;
    background-color: var(--Off-Black);
    color: var(--White);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: var(--Dark-Grey);
    width: 380px;
    border-radius: 12px;
}
@media (max-width:480px) {

    .container{
        max-width: 320px;
        padding: 8px;
    }
    
}
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
header img{
    border-radius: 50%;
    width: 100px;
    
}
.titles-box h1 {
    margin-bottom: 10px ;
    text-align: center;
}
.titles-box p {
    color: var(--Green);
    text-align: center;
}
.links-box{
   display: flex;
   flex-direction: column;
    text-align: center;
    padding: 20px;
    gap: 16px;
    width: 100%;
}
.link-item{
    padding: 16px;
    background-color: var(--Grey);
    text-align: center;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}
.link-item:hover{
    background-color: var(--Green);
    color: var(--Dark-Grey);

}